/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
#dropdown-adjust{
   right:auto; 
   left: auto;
}
#infocus{
   margin-top: 0px;
   text-align: center;
}
#infocus img{
   margin: 0 0 20px;
}
.page-header{
   margin-top: 5px;
}
#testimonials img{
   margin-bottom: 7px;
}
#testimonials h5{
   margin:0;
   font-weight: bold;
}
#testimonials{
   text-align: justify;
}
#testimonials a{
   color: #242724;
}
#testimonials a:hover{
   text-decoration: none;
}
#list-group-read-more{
   text-align: center;
}
.news-heading{
   margin-bottom: 25px;
}
#testimonials .div-sm-12 a{
   text-decoration: underline;
}
#testimonials .div-sm-12 a:hover{
   color: #2C62E0;
}
/* --------------------------------------
   Typography
   -------------------------------------- */
body{
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
}
#row-section .well{
   margin-top: 20px;
   background-color: #F6F6AA;
}
#row-section{
   background-color: #829875;
}
#row-section .col-sm-4{
   background-color: #829875;
}
#row-section .col-sm-4 .well h4{
   text-align: center;
}
.container-fluid{
   background-color: #829875;
}
#footer-heading{
   font-weight: bold;
}
#footer-icons li{
   letter-spacing: 20px;
   display: inline;
}
#footer-icons li a{
   color: #242724;
}
#footer-icons li a:hover{
   color: #021914;
}
#mailInput{
   margin-bottom: 10px;
}
#mobileInput{
   margin-bottom: 10px;
}
.col-sm-3 ul li a{
   color: #333;
   text-decoration: none;
}
.col-sm-3 ul li a:hover{
   font-weight: bold;
}
#bottom-copyright li{
   display: inline;
   padding-right: 15px
}
#bottom-copyright li a{
   color: #333;
   text-decoration: none;
}
#bottom-copyright li a:hover{
   color: black;
}
footer{
   background-color: #85B094;
   margin-bottom: -20px;
}
select{
   width: 100%; 
   height: 35px; 
   color:#7e7e7e;
}

.modal-header, .modal-footer{
   background-color: #D4FAE3;
}
.modal-body{
   background-color: #E7E7E2;
   margin-bottom: -20px;
}
#infocusHeading .page-header{
   font-weight: bold;
}
#testimonials .col-sm-6 h3{
   font-weight: bold;
}
/* --------------------------------------
   Navbar
   -------------------------------------- */
   .navbar-brand h1{
      margin: -12px 0;
      color: #F2EFE6;
   }
   .navbar-nav li a{
      color: #F2EFE6;
      font-weight: bold;
   }
   .navbar-brand{
      padding-right: 0;
   }
   .col-sm-8 .col-sm-4 a{
      color: #333;
   }
   .dropdown-menu{
      left: auto;
      right:auto;
   }
   .dropdown-right li a{
      color: #333;
   }
   .navbar-nav{
      margin-top: 17px;
   }
   .navbar{
      background-color: #85B094;
   }
   .dropdown-menu li a{
      color: #333;
   }
   .tooltip{
      letter-spacing: 0;
   }
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel .item{
   height: 600px;
   margin-bottom: 0;
}
#slide1{
   background: url('../../images/corousel_1.jpg') top center no-repeat;
}
#slide2{
   background: url('../../images/corousel_2.jpg') top center no-repeat;
}
#slide3{
   background: url('../../images/corousel_3.jpg') top center no-repeat;
}
.carousel-indicators li {
  
  border: 1px solid black;
}

.carousel-indicators .active {
  background-color: black;
}


/* --------------------------------------
   Global Styles
   -------------------------------------- */
.dropdown-menu{
   width: 600px;
   height: 500px;
}
.dropdown-menu .col-sm-8 .col-sm-4{
   margin: 10px 30px;
}
.dropdown-right{
   margin-left: -60px;
}
ul{
   list-style: none;
}
.dropdown-menu a{
 color: #3D3C3C;
}
.admissions-dropdown{
   width: 250px;
   height: 270px;
}
.tabbable ul li a{
   color: #242724;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
   #myCarousel .item{
   margin-top: 70px;
   height: 187px;
}
#slide1{
   background: url('../../images/corousel_sm-1.jpg') top center no-repeat;
}
#slide2{
   background: url('../../images/corousel_sm-2.jpg') top center no-repeat;
}
#slide3{
   background: url('../../images/corousel_sm-3.jpg') top center no-repeat;
}
.dropdown-menu{
   overflow: scroll;
}
.dropdown-right{
   margin-left: 0;
}
}
@media (min-width: 768px) {
   #myCarousel .item{
   margin-top: 140px;
   height: 285px;
}
#slide1{
   background: url('../../images/corousel_md-1.jpg') top center no-repeat;
}
#slide2{
   background: url('../../images/corousel_md-2.jpg') top center no-repeat;
}
#slide3{
   background: url('../../images/corousel_md-3.jpg') top center no-repeat;
}
#testimonials img{
   width: 110px;
}
}

/* Large desktop */
@media (min-width: 800px) {
	#myCarousel .item{
      margin-top: 0;
   height: 600px;
}
#slide1{
   background: url('../../images/corousel_1.jpg') top center no-repeat;
}
#slide2{
   background: url('../../images/corousel_2.jpg') top center no-repeat;
}
#slide3{
   background: url('../../images/corousel_3.jpg') top center no-repeat;
}
#testimonials img{
   width: 200px;
}
}